{% extends "layout.html" %}
{% block content_custom_css %}
<style>
  .total-label
  {
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #4d63bc;
  }

  th.no-items
  {
    text-align: center;
    padding: 25px 0px !important;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
  }

  img.ajax-image-load
  {
    height: 100px;
    width: auto;
  }
</style>
{% endblock %}
{% block content %}
  {% if filtered %}
    {% if num_eids > 0 %}
      <div class="alert alert-info" role="alert">
        Filtering for eids: {{ eid_list }}
        <a href="{{ url_for('view_annotations') }}" class="close"><span aria-hidden="true">&times;</span></a>
      </div>
    {% endif %}
    {% if num_gids > 0 %}
      <div class="alert alert-info" role="alert">
        Filtering for gids: {{ gid_list }}
        <a href="{{ url_for('view_annotations') }}?eid={{ eid_list_str }}" class="close"><span aria-hidden="true">&times;</span></a>
      </div>
    {% endif %}
    {% if num_aids > 0 %}
      <div class="alert alert-info" role="alert">
        Filtering for aids: {{ aid_list }}
        <a href="{{ url_for('view_annotations') }}?eid={{ eid_list_str }}" class="close"><span aria-hidden="true">&times;</span></a>
      </div>
    {% endif %}
  {% endif %}

  <div class="row marketing">
    <div class="col-lg-12">
      <table class="table table-striped table-fixed">
        <thead>
          <tr>
            <th>AID</th>
            <th>Thumbnail</th>
            <th>Source Image</th>
            <th>Name</th>
            <th>Is Exemplar</th>
            <th>Species</th>
            <th>Viewpoint</th>
            <th>Quality</th>
            <th>Turk</th>
            <th>Image</th>
            <th>Encounter</th>
          </tr>
        </thead>
        <tbody>
          {% if num_annotations == 0 %}
            <tr>
              <th class="no-items" colspan="99">Sorry, no annotations to display</th>
            </tr>
          {% else %}
            {% for (aid, gid, eid, src, name, exemplar, species, viewpoint, quality, reviewed) in annotation_list %}
            <tr {% if reviewed %}class="success"{% endif %}>
              <th scope="row"><a href="{{ url_for('turk_viewpoint') }}?aid={{ aid }}&refer={{ REFER_SRC_ENCODED }}">{{ aid }}</a></th>
              <td><a href="{{ url_for('turk_viewpoint') }}?aid={{ aid }}&refer={{ REFER_SRC_ENCODED }}"><img class="ajax-image-load ajax-image-unloaded" src="" aid="{{ aid }}" /></a></td>
              <td>{{ src }}</td>
              <td>{{ name }}</td>
              <td>{{ exemplar }}</td>
              <td>{{ species }}</td>
              <td>{{ viewpoint }}</td>
              <td>{{ quality }}</td>
              <td><a href="{{ url_for('turk_viewpoint') }}?aid={{ aid }}&refer={{ REFER_SRC_ENCODED }}">Viewpoint</a> | <a href="{{ url_for('turk_quality') }}?aid={{ aid }}&refer={{ REFER_SRC_ENCODED }}">Quality</a></td>
              <td><a href="{{ url_for('view_images') }}?gid={{ gid }}">Go to</a></td>
              <td><a href="{{ url_for('view_images') }}?eid={{ eid }}">Go to</a></td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
{% block content_custom_javascript %}
<script type="text/javascript">
var loading = [];
  var requests = [];
  var buffer = 5;

  function lazy_load_images()
  {
    while(loading.length > buffer)
    {
      index = loading.length - 1;
      requests[index].abort();
      removeIndexFromArray(index, requests);
      removeIndexFromArray(index, loading);
    }

    $(".ajax-image-load").filter(":onScreen").filter(".ajax-image-unloaded").each(function(){
      load_image_src(this);
    });
  }

  function load_image_src(element)
  {
    var aid = $(element).attr('aid');
    if(!contains(loading, aid) && requests.length <= buffer)
    {
      request = $.ajax( "/ajax/annotation/src/" + aid )
      .done(function( response ) {
        // Load SRC into Image
        $(element).attr('src', response);
        // Remove image class
        $(element).removeClass('ajax-image-unloaded');
        // Remove value from the arrays
        var index = findValueIndexFromArray(aid, loading);
        removeIndexFromArray(index, requests);
        removeIndexFromArray(index, loading);
        // Logging
        console.log(aid);
        console.log(loading);
        console.log(requests);
      });
      loading.push(aid);
      requests.push(request);
    }
  }

  $(document).ready(function(){
      $(window).scroll(function(){
        lazy_load_images();
      });

      setInterval(function() {        
        lazy_load_images();
      }, 1000) ;

      lazy_load_images();
  });
</script>  
{% endblock %}