{% extends "layout.html" %}
{% block content_custom_css %}
<style>
  .total-label
  {
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #4d63bc;
  }

  th.no-items
  {
    text-align: center;
    padding: 25px 0px !important;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
  }
</style>
{% endblock %}
{% block content %}

  <div class="row marketing">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% if num_aids == 0 %}
            <tr>
              <th class="no-items" colspan="4">Sorry, no annotations to display</th>
            </tr>
          {% else %}
            {% for aid in aid_list %}
            <tr>
              <th scope="row">{{ aid }}</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
{% block content_custom_javascript %}
<script type="text/javascript">
</script>  
{% endblock %}