{% extends "layout.html" %}
{% block content_custom_css %}
<style>
  .total-label
  {
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #4d63bc;
  }

  th.no-items
  {
    text-align: center;
    padding: 25px 0px !important;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
  }
</style>
{% endblock %}
{% block content %}

  <div class="row marketing">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>EID</th>
            <th>Encounter Text</th>
            <th>Number of Images</th>
            <th>Encounter Start</th>
          </tr>
        </thead>
        <tbody>
          {% if num_encounters == 0 %}
            <tr>
              <th class="no-items" colspan="4">Sorry, no encounters to display</th>
            </tr>
          {% else %}
            {% for (eid, enctext, num_gids, start) in encounter_list %}
            <tr>
              <th scope="row"><a href="{{ url_for('view_images') }}?eid={{ eid }}">{{ eid }}</a></th>
              <td>{{ enctext }}</td>
              <td>{{ num_gids }}</td>
              <td>{{ start }}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
{% block content_custom_javascript %}
<script type="text/javascript">
</script>  
{% endblock %}