{% extends "layout.html" %}
{% block content_custom_css %}
<style>
  .total-label
  {
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #23527c;
  }
</style>
{% endblock %}
{% block content %}

  <div class="row marketing">
    <div class="col-lg-3">
      <a href="{{ url_for('view_encounters') }}"><h4>Encounters</h4></a>
      <h4 class="total-label" id="encounter-total"></h4>
    </div>
    
    <div class="col-lg-3">
      <a href="{{ url_for('view_images') }}"><h4>Images</h4></a>
      <h4 class="total-label" id="image-total"></h4>
    </div>
    
    <div class="col-lg-3">
      <a href="{{ url_for('view_annotations') }}"><h4>Annotations</h4></a>
      <h4 class="total-label" id="annotation-total"></h4>
    </div>
    
    <div class="col-lg-3">
      <a href="{{ url_for('view_names') }}"><h4>Names</h4></a>
      <h4 class="total-label" id="names-total"></h4>
    </div>
  </div>

  <div class="row" style="margin-top: 50px; text-align: center;">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <canvas id="canvasBar"  height="150"></canvas>
        <div style="color: #999; font-style: italic; margin-bottom: 40px;">
          Sightings by day (Grey - number of sightings, Blue - number of new sightings)
        </div>

        <canvas id="canvasLine" height="150"></canvas>
        <div style="color: #999; font-style: italic; margin-bottom: 40px;">
          Unique sightings over time (Grey line gives upper-bound f(x) = x)
        </div>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row" style="margin-bottom: 50px; text-align: center;">
    <div class="col-md-3 col-lg-3">
      <a href="{{ url_for('display_sightings') }}" target="_blank">View Data</a>
    </div>
    <div class="col-md-3 col-lg-3">
      <a href="{{ url_for('download_sightings') }}" target="_blank">Download Data (CSV)</a>
    </div>
    <div class="col-md-3 col-lg-3">
      <a href="{{ url_for('display_sightings') }}?complete" target="_blank">View Complete Data</a>
    </div>
    <div class="col-md-3 col-lg-3">
      <a href="{{ url_for('download_sightings') }}?complete" target="_blank">Download Complete Data (CSV)</a>
    </div>
  </div>
{% endblock %}
{% block content_custom_javascript %}
<script type="text/javascript">
  var encounterNumber  = new countUp("encounter-total",  0, {{ num_eids }}, 0, 2.0);
  var imageNumber      = new countUp("image-total",      0, {{ num_gids }}, 0, 2.0);
  var annotationNumber = new countUp("annotation-total", 0, {{ num_aids }}, 0, 2.0);
  var namesNumber      = new countUp("names-total",      0, {{ num_nids }}, 0, 2.0);
  encounterNumber.start();
  imageNumber.start();
  annotationNumber.start();
  namesNumber.start();

  var dataLine = {
    {% autoescape false %}
    labels : {{ line_label_list }},
    {% endautoescape %}
    datasets : [
      {
        fillColor : "rgba(220,220,220,0.2)",
        strokeColor : "rgba(220,220,220,1)",
        pointColor : "rgba(220,220,220,0.5)",
        pointStrokeColor : "transparent",
        pointHighlightFill : "transparent",
        // pointStrokeColor : "#fff",
        // pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(220,220,220,1)",
        data : {{ line_index_list }}
      },
      {
        label: "Unique Sightings by Car",
        fillColor : "rgba(151,187,205,0.2)",
        strokeColor : "rgba(151,187,205,1)",
        pointColor : "rgba(151,187,205,1)",
        pointStrokeColor : "transparent",
        pointHighlightFill : "transparent",
        // pointStrokeColor : "#fff",
        // pointHighlightFill : "#fff",
        pointHighlightStroke : "rgba(240, 173, 78, 0.5)",
        data : {{ line_value_list }}
      },
    ]
  };

  var dataBar = {
    {% autoescape false %}
    labels: {{ bar_label_list }},
    {% endautoescape %}
    datasets: [
      {
          label: "My First dataset",
          fillColor: "rgba(220,220,220,0.5)",
          strokeColor: "rgba(220,220,220,0.8)",
          highlightFill: "rgba(220,220,220,0.75)",
          highlightStroke: "rgba(220,220,220,1)",
          data: {{ bar_value_list1 }}
      },
      {
          label: "My Second dataset",
          fillColor: "rgba(151,187,205,0.5)",
          strokeColor: "rgba(151,187,205,0.8)",
          highlightFill: "rgba(151,187,205,0.75)",
          highlightStroke: "rgba(151,187,205,1)",
          data: {{ bar_value_list2 }}
      }
    ]
  };

  window.onload = function(){
    var ctxLine = document.getElementById("canvasLine").getContext("2d");
    var chartLine = new Chart(ctxLine).Line(dataLine, {
      responsive: true,
      animation: false,
      pointDotRadius: 2,
      pointHitDetectionRadius : 1,
    });
    var ctxBar = document.getElementById("canvasBar").getContext("2d");
    var chartBar = new Chart(ctxBar).Bar(dataBar, {
      responsive: true,
      // animation: false,
    });
  };

</script>  
{% endblock %}