{% extends "layout.html" %}
{% block content_custom_css %}
<style>
  .total-label
  {
    font-size: 100px;
    margin: 0;
    text-align: center;
    color: #4d63bc;
  }
</style>
{% endblock %}
{% block content %}

  <div class="row marketing">
    <div class="col-lg-4">
      <a href="{{ url_for('view_encoutners') }}"><h4>Encounters</h4></a>
      <h4 class="total-label" id="encounter-total"></h4>
    </div>
    
    <div class="col-lg-4">
      <a href="{{ url_for('view_images') }}"><h4>Images</h4></a>
      <h4 class="total-label" id="image-total"></h4>
    </div>
    
    <div class="col-lg-4">
      <a href="{{ url_for('view_annotations') }}"><h4>Annotations</h4></a>
      <h4 class="total-label" id="annotation-total"></h4>
    </div>
  </div>

{% endblock %}
{% block content_custom_javascript %}
<script type="text/javascript">
  var encounterNumber  = new countUp("encounter-total",  0, {{ num_eids }}, 0, 2.0);
  var imageNumber      = new countUp("image-total",      0, {{ num_gids }}, 0, 2.0);
  var annotationNumber = new countUp("annotation-total", 0, {{ num_aids }}, 0, 2.0);
  encounterNumber.start();
  imageNumber.start();
  annotationNumber.start();
</script>  
{% endblock %}