# idk why this exists. probably jon's vimrc
'

*.swp
*~
*.py[cod]

# C extensions
*.so
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Print Logs
logs

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store
*.dump.txt
*.sqlite3
*.pkg

# profiler
*.lprof
*.prof

# Test data
test_data*.shelf
ibeis/model/detect/rf
ibeis/control/schema.txt
tmp.py

*.cPkl
*.pkl
*.flann
*.npz

install_prereqs.sh
__install_prereqs__.sh
failed.txt

#*.ipynb
.ipynb_checkpoints
failed.txt

# utool output
failed.txt

# Cyth
*_cyth.pyx
*_cyth.pxd
*_cyth.pyd
*_cyth.so
*_cyth.c
*_cyth.html
*_cyth_bench.py
run_cyth_benchmarks.sh
run_cyth_benchmarks.py

*.orig
*.h5
_grave.py
_doc/_build/

ibeis/control/_grave_template.py
ibeis/model/hots/smk/_smk_core_docs.txt
ibeis/model/hots/smk/csmk/
failed_doctests.txt
failed_shelltests.txt
#_page

T*.sh
tempfile*.txt
testdb*
branch.sync.sh

# Place to store all the local data you want to ignore
localdata
screenshot*.jpg

# More dubuious ignores
_ibeis_setup.py

experiment_*.sh

notebooks/Experiment-Presentable-*
notebooks/Experiments-*
notebooks/tmptex

raw_profile.txt
regen_*
DEPCACHE/
tmp.txt

clean_profile.txt

Experiments-*.ipynb
test_graphviz_draw.png

network.png
extracted.tar.gz
extracted/
extracted_*/
graphs/
failures/
features/
confusion/
model.npy
model.*.npy
test/
test_*.npy

ibeis/control/_autogen_explicit_controller.py
timeings.txt
test_times.txt*
profile_output*
src/
_graphs/
_super_scripts/*
models*/
docker/dev/

*.backup

# Add an exception for .pre-commit-config.yaml
!.pre-commit-config.yaml
