# Tell github what the language really is
*.py linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.ipynb linguist-detectable=false
*.ipynb linguist-vendored
dev/notebooks/Experiment.ipynb filter=lfs diff=lfs merge=lfs -text
