line-profiler>=1.0
memory_profiler
coverage>=3.7.1

autopep8
flake8
pep8
pylint>=1.5.4

pyfiglet>=0.7.4
pyperclip>=1.5.7
setproctitle>=1.1.8

mock>=1.3.0
nose>=1.3.7
pytest>=2.9.2

redbaron>=0.6.1
selenium>=2.53.5

pyinstaller

GitPython>=2.0.8

networkx>=1.10
sympy
Shapely>=1.5.7

h5py

python-Levenshtein>=0.12.0
wget
pygco
quantumrandom>=1.9.0
-e git+https://github.com/tpircher/quine-mccluskey@master#egg=quine-mccluskey
