line-profiler>=1.0
autopep8
flake8
pep8
pyfiglet>=0.7.4
mock>=1.3.0
networkx>=1.10
nose>=1.3.7
pytest>=2.9.2
memory_profiler
h5py
pygco
GitPython>=2.0.7
Shapely>=1.5.7
coverage>=3.7.1
pyperclip>=1.5.7
python-Levenshtein>=0.12.0
quantumrandom>=1.9.0
sympy
redbaron>=0.6.1
selenium>=2.53.5
pylint>=1.5.4
setproctitle>=1.1.8
pyinstaller
-e git+https://github.com/tpircher/quine-mccluskey@master#egg=quine-mccluskey
pypercip
