setuptools>=34.1.0
Cython>=0.24
Pillow==6.2.2
Pygments>=2.1.3
boto>=2.20.1
cachetools>=1.1.6
colorama>=0.3.2
dateutils>=0.6.6
ipython>=5.0.0
matplotlib>=1.5.1
-e git+https://github.com/cameronbwhite/Flask-CAS.git@master#egg=flask_cas
-e git+https://github.com/networkx/networkx.git@master#egg=networkx
#networkx>=2.1
numpy==1.14.2
scipy>=0.18.0
pandas>=0.19.2
parse>=1.6.6
pyparsing>=2.1.5
pyzmq>=14.7.0
scikit-image>=0.12.3
scikit-learn>=0.17.1
simplejson>=3.6.5
six>=1.10.0
statsmodels>=0.6.1
tornado>=4.2.1
pydot-ng
requests>=2.5.0
pyasn1>=0.1.7
pynmea2>=1.5.3
Flask>=0.10.1
lockfile>=0.10.2
opencv-python
-e git+https://github.com/cameronbwhite/Flask-CAS.git@master#egg=flask_cas
futures
pathlib
delorean
ubelt
futures_actors
flask-swagger
