{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-3"></div>
    
    <div class="col-lg-6">
      Aid: {{ aid }}
      <br/>
      Path: {{ image_path }}
      <img src="{{ image_src }}" style="width: 100%; margin: 20px 0px;">
      <br/>
      <form method="post" action="#">
        <input type="text" name="viewpoint-aid" value="{{ aid }}" style="display: none;" readonly>
        <input type="range" name="viewpoint-value" id="slider-viewpoint" value="4" min="1" max="8" style="margin-bottom:5px;">
        <div class="row-custom-expand text-center">
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
          <div class="col-custom-span-8"><span class="glyphicon glyphicon-ban-circle"></span></div>
        </div>
        <br/>
        <button type="button" name="viewpoint-skip" class="btn btn-primary">Skip</button>
        <button type="button" name="viewpoint-accept" class="btn btn-default">Accept</button>
      </form>
      <br/>
      
    </div>
    
    <div class="col-lg-3"></div>
  </div>
{% endblock %}
{% block content_custom_javascript %}  
<script type="text/javascript">
	$("body").keydown(function(event) {
	  key = event.which;
    console.log(key);
    // 49 == 1
    // 56 == 8
    if(49 <= key && key <= 56)
    {
      value = key - 48; // offset by 48 so that the number one is the value of 1
      $("#slider-viewpoint").val(value);  
    }
  });
</script>
{% endblock %}
