{% extends "layout.html" %}
{% block content %}
  {% if finished %}
  <div class="alert alert-info text-center" role="alert">
    Congratulations, turking is completed.  Please report the number of hours you helped us on this project to Chuck Stewart in order to get paid.  Thank you!
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-3"></div>
    
    <div class="col-lg-6">
      Gid: {{ gid }}
      <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="modal" data-target="#turk-instructions"></span>
      <br/>
      Path: {{ image_path }}
      <div id="bbox_annotator"></div>
<!--       <input id="annotation_data" name="annotation_data" type="hidden" /> -->
      <br/>
      <form method="post" action="/submit/detection.html">
        <input type="text" name="viewpoint-gid" value="{{ gid }}" style="display: none;" readonly>
        <input type="submit" name="viewpoint-submit" id="viewpoint-submit-skip"   class="btn btn-default pull-left"  value="Skip">
        <input type="submit" name="viewpoint-submit" id="viewpoint-submit-accept" class="btn btn-primary pull-right" value="Accept">
        <textarea id="annotation_data" name="annotation" style="font-family:monospace; margin-top:60px;width: 100%; height: 100px;" readonly=""></textarea>
      </form>
    </div>

    <div class="col-lg-3"></div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="turk-instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Detection Review Turking Instructions</h4>
        </div>
        <div class="modal-body">
          TODO
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
{% block content_custom_javascript %}  
<script src="{{ url_for('static', filename='javascript/turk.js') }}"></script>
<script src="{{ url_for('static', filename='include/bbox_annotator.js') }}"></script>
<script type="text/javascript">  
  $(document).ready(function() {
    // Initialize the bounding-box annotator.
    var annotator = new BBoxAnnotator({
      url: "{{ image_src }}",
      input_method: 'fixed',
      onchange: function(entries) {
        $('#annotation_data').text(JSON.stringify(entries, null, "  "));
      }
    });
  });
</script>  
{% endblock %}
