<div class="ia-container">

  {% if EMBEDDED_CSS %}
    {{ EMBEDDED_CSS|safe }}
  {% endif %}

  <form class="ia-form" method="{{ callback_method }}" action="{{ callback_url }}{% if REFER_DST_STR %}&refer={{ REFER_DST_ENCODED }}{% endif %}" id="ia-detection-form">
    <div id="ia-bbox-annotator"></div>
    <div style="text-align: center; color: #aaa;">
      <span>hover to highlight and press <b>b</b> to send an annotation to the back, <b>Esc</b> or <b>k</b> to delete</a></span>
    </div>
    <br/>
    <input type="text" name="detection-gid" value="{{ gid }}" style="display: none;" readonly>
    <input type="text" name="detection-image-uuid" value="{{ image_uuid }}" style="display: none;" readonly>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8" style="text-align:center;">
        {% if REFER_DST_STR and refer_aid %}
          <a href="/{{ REFER_DST_STR }}&aid={{ refer_aid }}" class="btn btn-default" style="margin-left:auto; margin-right: auto;">Nevermind, take me back...</a>
        {% endif %}
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% if previous %}
          <a class="btn btn-default pull-left" id="ia-turk-previous" href="{{ url_for('turk_detection') }}?imgsetid={{ imgsetid }}&gid={{ previous }}">Previous {{ previous }}</a>
        {% endif %}
        <input type="submit" name="detection-submit" id="ia-turk-submit-accept" class="btn btn-primary pull-right" value="Accept">
        {% if not EMBEDDED_JAVASCRIPT %}
          <input type="submit" name="detection-submit" id="ia-turk-submit-clear"  class="btn btn-warning pull-right" value="Clear" style="margin-right: 15px;">
          <!-- <input type="submit" name="detection-submit" id="ia-turk-submit-delete" class="btn btn-danger pull-right" value="Delete" style="margin-right: 15px;" onclick="return confirm('Are you sure you want to delete this image?')"> -->
        {% endif %}
      </div>
    </div>
    <textarea id="ia-detection-data" name="detection-annotations" style="font-family:monospace; margin-top:30px;width: 100%; height: 100px; display: none;" readonly="" form="ia-detection-form"></textarea>
  </form>

  {% if EMBEDDED_JAVASCRIPT %}
    {{ EMBEDDED_JAVASCRIPT|safe }}
  {% else %}
    <script src="{{ url_for('static', filename='javascript/turk-detection.js') }}" ia-dependency="javascript"></script>
    <script src="{{ url_for('static', filename='include/bbox_annotator_percent.js') }}" ia-dependency="javascript"></script>
  {% endif %}

  <script type="text/javascript" ia-dependency="javascript">
    $(document).ready(function() {
      // Initialize the bounding-box annotator.
      var annotator = new BBoxAnnotator({
        url: "{{ image_src }}",
        input_method: 'fixed',
        default_color: 'rgb(127, 255, 127)', // Green
        show_label: true,
        labels: ['{{ species }}'],
        onchange: function(entries) {
          $('#ia-detection-data').text(JSON.stringify(entries, null, "  "));
        }
      });

      {% if display_instructions %}
        // $('#turk-instructions').modal('show');
      {% endif %}

      {% if display_species_examples %}
        // $('#turk-species-examples').modal('show');
      {% endif %}

      {% for annot in annotation_list %}
        annotator.add_entry({
          left:   {{ annot['left'] }},
          top:    {{ annot['top'] }},
          width:  {{ annot['width'] }},
          height: {{ annot['height'] }},
          label:  '{{ annot['label'] }}',
          id:     '{{ annot['id'] }}',
          angle:  {{ annot['angle'] }},
        });
      {% endfor %}

      annotator.refresh();
    });
  </script>
</div>