{% extends "layout.html" %}
{% block content %}
  <div class="row marketing">
<div class="col-lg-6">
      <h4>Detection Review Turking</h4>
      <p>Offline turking using IBEIS to review detected regions in a dataset</p>        
      <p><a class="btn btn-lg btn-success" href="/turk/detection.html" role="button">Start Turking Detection Review</a></p>
    </div>
    
    <div class="col-lg-6">
      <h4>Viewpoint Turking</h4>
      <p>Online turking for viewpoint annotations.</p>        
      <p><a class="btn btn-lg btn-success" href="/turk/viewpoint.html" role="button">Start Turking Viewpoint Annotation</a></p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="turk-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Turker ID</h4>
        </div>
        <div class="modal-body">
          What is your turker ID?
          <br/>
          <input id="turk-id-value" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit_cookie('turk_id', $('input#turk-id-value').val());">Enter!</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content_custom_javascript %}
<script src="{{ url_for('static', filename='javascript/turk.js') }}"></script>
<script type="text/javascript">
  $('#turk-id').modal('show');
</script>  
{% endblock %}