
.header
{
  height: 40px;
}

.content
{
  margin-top: 10px;
}

.row-custom-expand
{
  margin-left: -11%;
  margin-right: -11%;
}

.col-custom-span-8
{
  text-align: center;
  width: 11%;
  display: inline-block;
}