
.header
{
  height: 40px;
}

.content
{
  margin-top: 10px;
}

.row-custom-expand
{
  margin-left: 0px;
  margin-right: 0px;
}

.col-custom-span-8
{
/*   text-align: center; */
  width: 11.5%;
  display: inline-block;
}

.rotate-3px5 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.image-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ui-widget-content
{
  background: transparent;
}

.ui-rotatable-handle
{
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -4px;
}

.ui-icon, .ui-widget-content .ui-icon
{
  background-image: none;
}

.ui-resizable-handle {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
}
.ui-resizable-nw {
    left: -3px;
    top: -3px;
}
.ui-resizable-ne {
     top: -3px;
     right: -3px;
}
.ui-resizable-sw {
    bottom: -3px;
    left: -3px;
}
.ui-resizable-se {
     bottom: -3px;
    right:-3px;
}
.ui-resizable-n{
     top: -3px;
    left:50%;
}
.ui-resizable-s {
     bottom: -3px;
    left: 50%;
}
.ui-resizable-w {
     left:-3px;
     top:50%;
}
.ui-resizable-e {
     right:-3px;
     top:50%;
}