
.header
{
  height: 40px;
}

.content
{
  margin-top: 10px;
}

.footer
{
  margin-top: 20px;
}

.row-custom-expand
{
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.col-custom-span
{
  display: inline-block;
  text-align: center;
}

.col-custom-span-2
{
  width: 100%;
}

.col-custom-span-2:first-child
{
  margin-left: -48%;
}

.col-custom-span-2:last-child
{
  margin-right: -47%;
}

.col-custom-span-3
{
  width: 50%;
}

.col-custom-span-3:first-child
{
  margin-left: -24%;
}

.col-custom-span-3:last-child
{
  margin-right: -24%;
}

.col-custom-span-5
{
  width: 25%;
}

.col-custom-span-5:first-child
{
  margin-left: -11%;
}

.col-custom-span-5:last-child
{
  margin-right: -11%;
}

.col-custom-span-6
{
  width: 20.0%;
}

.col-custom-span-6:first-child
{
  margin-left: -9%;
}

.col-custom-span-6:last-child
{
  margin-right: -9%;
}

.col-custom-span-7
{
  width: 16.66%;
}

.col-custom-span-7:first-child
{
  margin-left: -8%;
}

.col-custom-span-7:last-child
{
  margin-right: -8%;
}

.col-custom-span-9
{
  width: 12.3%;
}

.col-custom-span-9:first-child
{
  margin-left: -5.3%;
}

.col-custom-span-9:last-child
{
  margin-right: -5.3%;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.image-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ui-widget-content
{
  background: transparent;
}

.ui-rotatable-handle
{
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -3px;
}

.popover{
    max-width: 80%;
}

.ui-icon, .ui-widget-content .ui-icon
{
  background-image: none;
}

.ui-rotatable-handle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  cursor: 'grab';
  background-image: none;
  left: 50%;
  margin-left: -1px;
  top: 10px;
  background-color: rgb(127,255,127);
  border: 1px solid #000000;
}
.ui-resizable-handle
{
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}
.ui-resizable-nw
{
  left: -4px;
  top: -4px;
}
.ui-resizable-ne
{
  top: -4px;
  right: -4px;
}
.ui-resizable-sw
{
  bottom: -4px;
  left: -4px;
}
.ui-resizable-se
{
  bottom: -4px;
  right:-4px;
}
.ui-resizable-n
{
  top: -4px;
  left:50%;
}
.ui-resizable-s
{
  bottom: -4px;
  left: 50%;
}
.ui-resizable-w
{
  left:-4px;
  top:50%;
}
.ui-resizable-e
{
  right:-4px;
  top:50%;
}

#turk-submit-delete, #turk-submit-clear, #turk-submit-left
{
  margin-right: 20px;
}
/*
.table.table-fixed
{
  table-layout: fixed;
}

.table.table-fixed td.table-cell-wrap
{
    word-wrap: break-word;
}*/

.progress
{
  height: 11px;
}

.progress-bar
{
  font-size: 10px;
  line-height: 10px;
}

.footer-bar
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  border-top: 2px solid #888;
  text-align: center;
  z-index: 9999;
}

.footer-bar h3
{
  margin: 0px;
  display: inline-block;
}

.footer-bar h3.small-margin
{
  margin-top: 20px;
}

#scroll
{
  margin-top: 20px;
  width: 100%;
  overflow-y:hidden;
}

#scroll ul
{
  margin: 0;
  padding: 0;
  display: table;
  list-style: none;
}

#scroll li
{
  min-width: 200px;
  padding:0px 10px;
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  border:1px solid #eee;
}

#scroll img
{
  height: 150px;
  width: autp;
  border:0;
  display:block;
  margin:0px auto;
}

#identification-score-container
{
  text-align: center;
  margin-top: -15px;
}

#identification-image-container
{
  position: relative;
  text-align: center;
}

.identification-image
{
  max-width: 100%;
  max-height: 600px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#identification-image-clean:hover
{
  opacity: 0.01;
  filter: alpha(opacity=1);
}

#identification-score
{
   font-size: 15px;
}

#identification-buttons .btn
{
  margin-bottom: 10px;
}

/*.ui-rotatable-handle, .ui-resizable-handle, .ia-label-text-box
{
  visibility: hidden !important;
}*/