
.header
{
  height: 40px;
}

.content
{
  margin-top: 10px;
}

.footer
{
  margin-top: 20px;
}

.row-custom-expand
{
  margin-left: 0px;
  margin-right: 0px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.col-custom-span
{
  display: inline-block;
  text-align: center;
}

.col-custom-span-5
{
  width: 25%;
}

.col-custom-span-5:first-child
{
  margin-left: -11%;
}

.col-custom-span-5:last-child
{
  margin-right: -11%;
}

.col-custom-span-9
{
  width: 12.3%;
}

.col-custom-span-9:first-child
{
  margin-left: -5.3%;
}

.col-custom-span-9:last-child
{
  margin-right: -5.3%;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.image-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ui-widget-content
{
  background: transparent;
}

.ui-rotatable-handle
{
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -3px;
}

.ui-icon, .ui-widget-content .ui-icon
{
  background-image: none;
}

.ui-rotatable-handle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  cursor: 'grab';
  background-image: none;
  left: 50%;
  margin-left: -1px; 
  top: 10px;
  background-color: rgb(127,255,127);
  border: 1px solid #000000;
}
.ui-resizable-handle 
{
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
}
.ui-resizable-nw 
{
  left: -4px;
  top: -4px;
}
.ui-resizable-ne 
{
  top: -4px;
  right: -4px;
}
.ui-resizable-sw 
{
  bottom: -4px;
  left: -4px;
}
.ui-resizable-se 
{
  bottom: -4px;
  right:-4px;
}
.ui-resizable-n
{
  top: -4px;
  left:50%;
}
.ui-resizable-s 
{
  bottom: -4px;
  left: 50%;
}
.ui-resizable-w 
{
  left:-4px;
  top:50%;
}
.ui-resizable-e 
{
  right:-4px;
  top:50%;
}

#turk-submit-delete, #turk-submit-clear
{
  margin-right: 20px;
}

/*.table.table-fixed
{
  table-layout: fixed;
}

.table.table-fixed th
{
    width: 10px;
}

.table.table-fixed td
{
    word-wrap: break-word;
}*/

.progress
{
  height: 11px;
}

.progress-bar 
{
  font-size: 10px;
  line-height: 10px;
}
