{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to IBEIS</h1>
    <p class="lead">
      IBEIS (Image Based Ecological Information System) is a Python-based application that facilitates detection and identification of animals in images
      <br/>
      <br/>
      For more information: <a href="http://ibeis.org/" target="_blank">http://ibeis.org/</a>
      <br/>
      To view the code repository: <a href="https://github.com/Erotemic/ibeis" target="_blank">https://github.com/Erotemic/ibeis</a>
      <br/>
      To view the documentation: <a href="http://erotemic.github.io/ibeis/" target="_blank">http://erotemic.github.io/ibeis/</a>
    </p>
  </div>
{% endblock %}