<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>IBEIS Web Interface</title>

  	<link rel="stylesheet" href="{{ url_for('static', filename='include/jquery-ui/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='include/jquery.ui.rotatable/jquery.ui.rotatable.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='include/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='include/bootstrap-toggle/css/bootstrap-toggle.min.css') }}">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/jquery.ui.rotatable/jquery.ui.rotatable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/jquery.onscreen.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/bootstrap-toggle/js/bootstrap-toggle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/countUp.js/countUp.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='include/Chart.js/Chart.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='include/Chart.js/Chart.bundle.min.js') }}"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>

    {% block content_custom_css %}{% endblock %}
  </head>

  <body>
    <div class="container">
      {% if __wrapper__ and __wrapper_header__ %}
        <div class="header">
          <ul class="nav nav-pills pull-right">
            {% for active, link, nice in NAVBAR %}
              <li {% if active %}class="active"{% endif %}>
                <a href="{{ url_for(link) }}">{{ nice }}</a>
              </li>
            {% endfor %}
              <li>
                <a class="pull-left" data-toggle="modal" data-target="#set-userid">ID</a>
              </li>
          </ul>
          <h3 class="text-muted">IBEIS Web Interface</h3>
            <br/>
            <div class="pull-right" style="color: #aaa; margin-top: -15px;">
              User: <span id="userid-container">{% if __have_userid__ %}{{ __userid__ }}{% else %}NULL{% endif %}</span>
            </div>
        </div>
      {% endif %}

  	  <div class="content">
  	    {% block content %}{% endblock %}
  	  </div>

      {% if __wrapper__ and __wrapper_footer__ %}
        <div class="footer">
          <p>&copy; WildMe / IBEIS {{ YEAR }}</p>
        </div>
      {% endif %}
    </div> <!-- /container -->

      <div class="modal fade" id="set-userid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">User ID</h4>
            </div>
            <div class="modal-body">
                <input type="text" name="set-userid" class="form-control" placeholder="Enter your user ID">
                <br/>
                <i>A user ID is a self-specified value to identify yourself for any experiments.  If you are unsure of what to put, you can simply use your first name or contact the owner of the database</i>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="set_userid();">Save</button>
            </div>
          </div>
        </div>
      </div>

    {% block content_custom_javascript %}{% endblock %}

    <script type="text/javascript" ia-dependency="javascript">
      $('#set-userid').on('shown.bs.modal', function() {
        $('input[name="set-userid"]').val('')
        hotkeys_global_disabled = true;

        if(bba !== undefined) {
          bba.options.hotkeys.enabled = false
        }
      });

      $('#species-add').on('hidden.bs.modal', function() {
        hotkeys_global_disabled = false;
        if(bba !== undefined) {
          bba.options.hotkeys.enabled = true
        }
      });

      {% if not __have_userid__ %}
        $(document).ready(function() {
          $('#set-userid').modal('show');
        });
      {% endif %}
    </script>
  </body>
</html>