name: Nightly
on:
  schedule:
    - cron: '0 0 * * *' # Every day at midnight
  push:
    paths:
      - '.github/workflows/nightly.yml'
      - 'devops/**'
      - 'Dockerfile'
      - '.dockerfiles/*'
  pull_request:
    paths:
      - '.github/workflows/nightly.yml'
      # Include any change to the development containers
      - 'devops/**'
      # Include changes to the runtime container or assets
      - 'Dockerfile'
      - '.dockerfiles/*'

jobs:
  devops:
    name: DevOps nightly image build
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        images:
          - wildbook-ia
          - wbia-base wbia-dependencies wbia-provision wbia

    steps:
      - uses: actions/checkout@v2
        if: github.event_name == 'schedule'
        with:
          ref: develop

      - uses: actions/checkout@v2
        if: github.event_name != 'schedule'

      # Build images
      - name: Build images
        run: |
          # Update Docker
          sudo apt-get remove docker docker-engine docker.io containerd runc
          sudo apt-get update
          sudo apt-get install apt-transport-https ca-certificates curl gnupg-agent software-properties-common
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo apt-key fingerprint 0EBFCD88
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
          sudo apt-get update
          sudo apt-get install docker-ce docker-ce-cli containerd.io
          echo $'{\n    "experimental": true\n}' | sudo tee /etc/docker/daemon.json
          echo $'{\n    "experimental": "enabled"\n}' | tee $HOME/.docker/config.json
          sudo systemctl restart docker.service

          # Build Image
          bash devops/build.sh ${{ matrix.images }}

      # Log into image registries
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: wildmebot
          password: ${{ secrets.WBIA_WILDMEBOT_DOCKER_HUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      # Push images out to image registries
      - name: Push to Docker Hub
        if: github.event_name == 'schedule'
        run: bash devops/publish.sh -t nightly ${{ matrix.images }}

      - name: Push to GitHub Packages
        run: bash devops/publish.sh -t nightly -r ghcr.io/wildmeorg ${{ matrix.images }}

      # Notify status in Slack
      - name: Slack Notification
        if: ${{ failure() && github.event_name == 'schedule' }}
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_CHANNEL: ia-development
          SLACK_COLOR: '#FF0000'
          SLACK_ICON: https://avatars.slack-edge.com/2020-03-02/965719891842_db87aa21ccb61076f236_44.png
          SLACK_MESSAGE: 'nightly build failed :sob:'
          SLACK_USERNAME: "Nightly"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
