{% extends "layout.wb.min.html" %}
{% block content %}
    <div id="dropbox-container" class="hidden">
        <div id="dropbox-header">
            <div id="dropbox-container-inside">
                <img id="dropbox" src="#">
            </div>

            <div id="dropbox-text" style="text-align: center;">
                <br/>
                <i style="color: #ccc; margin-top: 20px;">drag and drop images of animals</i>
            </div>

            <div id="progress" class="progress-global">
              <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
        </div>

        <div id="images-container">
        </div>

        <div id="stats-container" class="row">
<!--
            <b style="color: #3f83c0; font-size: 18px; margin-left: 20px;">Database</b>
            <br/>
 -->
            <div id="stats-container-labels" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
            <div id="stats-container-values" class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
        </div>

        <div id="download-container" class="row">
            <div id="stats-container-labels" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a target="_blank" href="{{ url_for('static', filename='data/demo-images.zip') }}" style="color: #AAA; font-style: italic; font-weight: normal;">
                    Download Demo Images
                </a>
            </div>
        </div>

        <div id="logo-container">
            <div><i style="color: #ccc;">created by</i></div>
            <img id="logo" src="#">
        </div>
    </div>


{% endblock %}
{% block content_custom_css %}
{% endblock %}
{% block content_custom_javascript %}
    <script src="{{ url_for('static', filename='javascript/demo.js', version='20180905-0') }}" ia-dependency="javascript"></script>

    <script type="text/javascript" ia-dependency="javascript">
        var initialized = false;
        var queue = {
            upload: [],
            detect: [],
            classify: [],
            identify: [],
        };

        var animations = {};
        var registry = [];

        $(document).ready(function() {
            var image1 = '{{ url_for('static', filename='images/logo-wildbook-zebra.png') }}';
            var image2 = '{{ url_for('static', filename='images/logo-wildme.png') }}';
            init(image1, image2);

        });
    </script>
{% endblock %}
