{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron" style="text-align: center; width: 500px; margin-left: auto; margin-right: auto;">
    <h2>Start Annot. Group Review</h2>

    <form action="{{ url_for('group_review_submit') }}" method="post" enctype="multipart/form-data" style="width: 300px; margin-left: auto; margin-right: auto;text-align: left;">
        <div class="form-group">
            <label for="aid_list">Annotation IDs (comma separated)</label>
            <br/>
            <textarea rows="10" cols="10" name="aid_list" id="aid_list" style="width: 100%; height: 200px;">{% autoescape false %}{{ candidate_aid_list }}{% endautoescape %}</textarea>
        </div>
        <input type="submit" name="group-review-submit" id="review-submit-review"   class="btn btn-default pull-left" value="Begin Review"/>
        <input type="submit" name="group-review-submit" id="review-submit-populate" class="btn btn-default pull-right" value="Populate"/>
        <br/>
        <select name="group-review-mode" class="form-control" style="margin-top:30px;">
            {% for mode, mode_nice in mode_list %}
            <option value="{{ mode }}" default>{{ mode_nice }}</option>
            {% endfor %}
        </select>
    </form>
  </div>
{% endblock %}
