{% extends "layout.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to IBEIS</h1>
    <p class="lead">
      IBEIS (Image Based Ecological Information System) is a Python-based application that facilitates detection and identification of animals in images
      <br/>
      <br/>

      <div class="row marketing" style="text-align: center;">
        <div class="col-lg-12">
          <p><a class="btn btn-lg btn-primary" href="{{ url_for('view') }}" role="button">View IBEIS Database</a></p>
        </div>
        <div class="col-lg-12">
          <p><b>Database name</b><br/>{{ dbname }}</p>
          <p><b>Database location</b><br/>{{ dbdir }}{% if hostname %} (Container: {{ hostname }}){% endif %}</p>
        </div>
      </div>

      <br/>
      For more information: <a href="http://wbia.org/" target="_blank">http://wbia.org/</a>
      <br/>
      To view the code repository: <a href="https://github.com/WildMeOrg/wildbook-ia" target="_blank">https://github.com/WildMeOrg/wildbook-ia</a>
      <br/>
      To view the API settings: <a href="{{ request.url }}{{ url_for('api_root') }}" target="_blank">{{ request.url }}{{ url_for('api_root').lstrip('/') }}</a>
<!--
      <br/>
      To view the documentation: <a href="http://erotemic.github.io/wbia/" target="_blank">http://erotemic.github.io/wbia/</a>
-->
    </p>
  </div>
{% endblock %}
